body {
    background-color: #202020;
    overflow-x: hidden;
    font-family: "Poppins";
    overflow-y: scroll;
    width: 100vw; /* Lebar viewport */
    height: 100vh; /* Tinggi viewport */
    margin: 0; /* Menghilangkan margin default pada body */
}

.navbar {
    position: fixed;
    background-color: #373737; /* Faded white color */
    padding: 10px;
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Space items evenly */
    align-items: center; /* Vertically center items */
    border-bottom: 1px solid #ccc; /* Add a subtle border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
    width: 100%; /* Make the navbar full-width */
    overflow: hidden;
    z-index: 1000;
}


.navbar a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.2s ease; /* Add a smooth transition effect */
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
    padding-top: 10px;
}


.navbar a:hover {
    color: #666; /* Change the link color on hover */
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}

.navbar a.active {
    color: #444; /* Change the active link color */
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}  

.navbar .logo {
    font-family: Lalezar;
    margin-left: 15px;
    padding-left: 70px;
    font-size: 35px;
    color: #30C641;
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
    animation: move7 3s infinite;
}

@keyframes move7 {
    0% {
      transform: translateX(-8px);
      transform: translateY(-12%);
    }
    25% {
        transform: translateX(6px);
    }
    50% {
      transform: translateX(-8px);
    }
    100% {
      transform: translateX(-8px);
      transform: translateY(-12%);
    }
  }

.navbar .nav-links {
    padding-right: 70px;
    display: flex; /* Use flexbox to align links */
    justify-content: flex-end; /* Align links to the right */
    margin-right: 20px; /* Add some space to the right */
    font-size: 20px;
}

.navbar .nav-links a:last-child {
    background-color: #30C641; /* Green background color */
    padding: 10px 20px; /* Add some padding to create a pill shape */
    border-radius: 20px; /* Add a border radius to create a pill shape */
    color: #000; /* White text color */
    padding-top: 10px;
    font-family: "Lalezar", system-ui;
    font-weight: 400;
    font-style: normal;
}

.section-hijau {
    background-color: #30C641;
    padding: 40px;
    display: flex;
    
}

.judul-section {
    font-size: 36px;
    margin-top: 115px;
}

.gambar-section {
    margin-left: 40px;
    margin-top: 80px;
}

.page-menu {
    gap: 50px;
}

.page-menu .menu {
    background-color: #30C641;
    padding: 10px 10px;
    border-radius: 20px;
    margin-left: 135px;
    width: 250px;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 50px;
}

.page-menu a {
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    align-items: center;
    color: #000;
}

.page-border {
    border-top: 4px solid #ffff;
    position: relative;
    width: 102.3rem;
    align-items: center;
    margin-left: 133px;
}
.footer-section {
    background-color: #373737;
    padding: 100px;
    bottom: 0px;
    width: 100%;
}

.img-page {
    flex-direction: column;
    gap: -10px;
}


.footer-section h1 {
    font-family: "Lalezar";
    color: #30C641;
    font-size: 48px;
    margin-top: -50px;
}

.footer-section a {
    font-family: "Poppins";
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    line-height: 2;
}

.footer-section .line1 {
    padding-right: 90px;
}

.footer-section .line2 {
    padding-right: 76px;
}

.footer-section .email-btn {
    background-color: #D9D9D9;
    padding: 5px 5px;
    border-radius: 20px; /* Add a border radius to create a pill shape */
    width: 20rem;
    text-align: center;
}

.imgfooter img {
    position: absolute;
    margin-left: 50rem;
    margin-top: -175px;
}

.page-menu a:hover {
    position: absolute;
    background-color: #000;
    margin-top: -10px;
    margin-left: -135px;
    padding: 10px 10px;
    border-radius: 20px;
    width: 250px;
    text-align: center;
    justify-content: center;
    height: 50px;

}

.imgfooter h2 {
    font-family: "Poppins";
    position: absolute;
    margin-left: 37rem;
    margin-top: 35px;
    color: #D9D9D9;
}

.contactfooter h2 {
    font-family: "Poppins";
    position: absolute;
    right: 200px;
    color: #D9D9D9;
    margin-top: -125px;
}

.contactfooter img {
    position: absolute;
    right: 235px;
    margin-top: -70px;
}

.page-menu a:hover {
    color: #D9D9D9;
}

.img-page img {
    transition: 0.3s ease-in-out;
}

.img-page img:hover {
    transform: scale(1.03);
    transition: 0.3s ease-in-out;
}